{% verbatim %}


<html ng-app="myApp" ng-controller="myCtrl">
<!--   jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!--   angular -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- Bootstrap -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw=="
crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
<!-- Bootstrap Tables-->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.min.js"></script>

<!--  
0. Add jquery (for BT)
1. Show tables
2. Calendar structure
3. Interact with API

-->

<head>
  <title>Using API</title>
</head>

<body>
  <div>
    <h1>Input :
      <input type="text" ng-model="name1" placeholder="Enter name here">
    </h1>
    <!--          <p>Enter your Name: <input type = "text" ng-model = "name"></p> -->
    <h3>Output1: <span ng-bind="name1"></span> ! </h3>
    <h3>Output2: {{name1}} ! </h3>
    <p> {{data}} </p>
  </div>

  <table class="table" data-toggle="table" data-height="299" data-search="true" data-cache="false" data="/ex/patients/?format=json">
	<thead>
    <tr>
	<div class="hidden-xs col-sm-2"> </div> 
	<th data-field="patient_name"> patient_name </th>
	<th data-field="default_price"> default_price </th>
	<th data-field="is_archived"> is_archived </th>
	<th data-field="is_deleted"> is_deleted </th>
	<th data-field="clean_patient_name"> clean_patient_name </th>
	</tr>
    </thead>
</table>


  
  
  
  <script>
    var app = angular.module('myApp', []);
//       

    app.controller('myCtrl', ['$scope', '$http', function($scope, $http) {
      $scope.$watch('name1', function($sope){
        console.log($scope.name1)
      $http.get('/ex/patients/' + $scope.name1 + '?format=json').
      then(function(response) {
        $scope.status = response.status;
        $scope.data = response.data;
        console.log($scope)
      }, function(response) {
        $scope.data = response.data || "Request failed";
        $scope.status = response.status;
      });;
      })

    }]);
  </script>

</body>

</html>


{% endverbatim %}

<!-- <!DOCTYPE html>
<html ng-app = "">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<p>Input something in the input box:</p>


</body>
</html> -->